<h1>REST Test: Order</h1>

<p>
  Buttons call <code>/order</code> with different HTTP methods.<br>
  For PUT/PATCH/DELETE используется <code>?id=1</code>.
</p>

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Request Body</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button id="rest-order-get-btn">GET /order</button></td>
      <td>-</td>
      <td id="rest-order-get-result"></td>
    </tr>
    <tr>
      <td><button id="rest-order-getone-btn">GET /order?id=1</button></td>
      <td>-</td>
      <td id="rest-order-getone-result"></td>
    </tr>
    <tr>
      <td><button id="rest-order-post-btn">POST /order</button></td>
      <td><pre id="rest-post-body"></pre></td>
      <td id="rest-order-post-result"></td>
    </tr>
    <tr>
      <td><button id="rest-order-put-btn">PUT /order?id=1</button></td>
      <td><pre id="rest-put-body"></pre></td>
      <td id="rest-order-put-result"></td>
    </tr>
    <tr>
      <td><button id="rest-order-patch-btn">PATCH /order?id=1</button></td>
      <td><pre id="rest-patch-body"></pre></td>
      <td id="rest-order-patch-result"></td>
    </tr>
    <tr>
      <td><button id="rest-order-delete-btn">DELETE /order?id=1</button></td>
      <td>-</td>
      <td id="rest-order-delete-result"></td>
    </tr>
  </tbody>
</table>
